  <div *ngIf="isShown" class="row mt-3 alert alert-primary alert-dismissible">
    <strong class="col-md-2">Operación Exitosa!</strong> <span class="col-md-8">{{mensaje}}</span>
    <span (click)="ocultarMensaje()" class="col-md-2"><a class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
  </div>
  <div id="mensajeError" *ngIf="isShownErr" class="row m-2 alert alert-danger alert-dismissible">
    <strong class="col-md-3">Error en la Operación!</strong> <span class="col-md-8">{{mensaje}}</span>
    <span (click)="ocultarMensaje()" class="col-md-1"><a class="close" data-dismiss="alert" aria-label="close">&times;</a></span>
  </div>  

  <div class="row mt-4">
    <div class="modal-header" id="formHeader">
        <h2>Administrar Tipos Eventos</h2>
        <span aria-hidden="true" (click)="setValueCrearTipoEvento(modalContent)"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square-fill colorIcons" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
        </svg></span>
      </div>
    <form>

    <div class="row table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="textColorTh">Nombre</th>
                <th class="textColorTh">Descripción</th>
                <th class="textColorTh">Editar</th>
                <th class="textColorTh">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tipoEvento of dataSource">       
                <td>
                  <span aria-hidden="true">{{tipoEvento.nombre}}</span>
                </td>
                <td>
                  <span aria-hidden="true">{{tipoEvento.descripcion}}</span>
                </td>
                <td>
                  <span aria-hidden="true" (click)="setValueActualizaTipoEvento(tipoEvento); abreModal(modalContent)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil colorIcons" viewBox="0 0 16 16">
                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                  </span>
                </td>
                <td>
                  <span aria-hidden="true" (click)="this.ocultarMensaje(); eliminarTipoEvento(tipoEvento)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash colorIcons" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </form>
</div>

<ng-template #modalContent let-modal>
    <div class="modal-header backgroundHeaderPopUp">
        <h4 class="modal-title colorIconsHeader" id="modal-basic-title">Administrar Tipo de Evento</h4>
        <span aria-hidden="true" (click)="modal.dismiss('Cross click')"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle-fill colorIconsHeader" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
        </svg></span>
    </div>
    <form [formGroup]="tipoEventosForm" (ngSubmit)="guardarEditarTipoEvento()">

        <div class="modal-body">
            <div class="wrapper fadeInDown">
                    
                    <!-- Tipo evento Form -->
                        <div class="row col-md-10 mt-3"><p>Nombre Tipo Evento</p></div>
                        <input formControlName="nombre" type="text" id="nombre" class="fadeIn second" placeholder="Nombre" />
                        <div class="row col-md-10 mt-3"><p>Descripción</p></div>
                        <input formControlName="descripcion" type="text" id="descripcion" class="fadeIn third" placeholder="Descripción"/>
                        <input formControlName="tipo_evento_id" type="text" id="tipo_evento_id" class="fadeIn second" placeholder="tipo_evento_id"  [hidden]="true"/>

            </div>
        </div>
        <div id="formFooter" class="modal-footer">
            <input type="submit" class="fadeIn fourth" id="btnGuardar" value="Guardar">
        </div>
    </form>

    </ng-template>


